#!/usr/bin/env bash

set -e
set -u

timeout 30s bash -c '
 until ping -c 1 google.com &> /dev/null
 do
   echo "Pinging Google..."
   sleep 1
 done
 echo "Google is reachable!"
' || echo "Timeout reached. Google is not reachable."
